<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/styles.css">
    <%- include('../../common/_fonts.ejs') %>
    <title>APPLICATIONS</title>
</head>
<body>
    <script src="/js/redirect_user.js"></script>

    <%- include('../../common/_headerAdmin.ejs') %>

    <main>
        <h1 class="page_title">ЗАЯВКИ</h1>

        <section class="tours">
            <div class="list_container tour_list">
                <div class="grid_list">

                </div>
            </div>
        </section>

    </main>
    <script src="/js/applications/applications.js"></script>
    <script src="/js/createPopup.js"></script>
    
</body>
</html>